@import "tailwindcss";

@theme {
  --font-display: "Syne", sans-serif;
  --font-body: "DM Sans", sans-serif;
  --color-ink: #0d0d0d;
  --color-mist: #f2f0eb;
  --color-clay: #c8b89a;
  --color-ember: #d4501a;
  --color-smoke: #7a7670;
}
